<template>
    <div class="container hv100_nav">
        <div class="row h-100 justify-content-center align-items-center hv100_nav">
            <div id="request_link_form" class="col-12 col-md-8 container_form">
                <h1 class="text-center mb-4 " id="login_title">Password request</h1>
                            <form class="mx-auto" action="#" autocomplete="off" @submit.prevent="requestResetPassword">
                                <div class="form-group">
                                    <input type="email" id="email" class="form-control" placeholder="user@example.com" v-model="email" required>
                                </div>
                                    <button type="submit" class="btn button_public_form mt-3 mx-auto">Request password change</button>
                            </form>
                        </div>
                    </div>
            </div>


</template>
<script>
    export default {
        name: "ForgotPassword",
        data() {
            return {
                email: null,
            }
        },
        methods: {
            requestResetPassword() {
                this.$store.dispatch('requestResetPassword', {
                    email: this.email
                }).then(response => {
                    this.$swal({
                        title: response.data.message,
                        icon: 'success',
                        showConfirmButton: false,
                        timer: 1500
                    })
                }).catch(error => {

                });
            }
        }
    }
</script>
<style lang="scss">

</style>