<template>
    <div class="container hv100_nav">
        <div class="row justify-content-center align-items-center hv100_nav">
            <div id="change_password_form" class="col-12 col-md-8 container_form">
                <h1 class="text-center mb-4 " id="login_title">Change your Password</h1>
                <form autocomplete="off" @submit.prevent="resetPassword" method="post">
                    <div class="form-group">
                        <input type="email" id="email" class="form-control" placeholder="user@example.com" v-model="email" required>
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" class="form-control" placeholder="Password" v-model="password" required>
                    </div>
                    <div class="form-group">
                        <input type="password" id="password_confirmation" class="form-control" placeholder="Password confirmation" v-model="password_confirmation" required>
                    </div>
                    <button type="submit" class="btn button_public_form button_login mt-3">Change password</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ResetPassword",
        data() {
            return {
                token: null,
                email: null,
                password: null,
                password_confirmation: null,
                has_error: false
            }
        },
        methods: {
            resetPassword() {
                this.$store.dispatch('resetPassword',{
                    token: this.$route.params.token,
                    email: this.email,
                    password: this.password,
                    password_confirmation: this.password_confirmation
                })
                    .then(response => {
                        this.$swal({
                            title: response.data.message,
                            icon: 'success',
                            showConfirmButton: false,
                            timer: 2500

                        })
                        this.$router.push({
                            name: 'Login'
                        });
                    }).catch(error => {
                        this.$swal.fire({
                            title: error.response.data.errors.password,
                            icon: 'error',
                            showConfirmButton: false,
                            timer: 2500
                        })
                    });
            }
        },
    }
</script>
<style lang="scss">

</style>