<template>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div id="create_floor_form" class="col-12 col-sm-6 mx-auto">
                <form  id="floor_create" class="mx-auto" action="#"  autocomplete="off"  @submit.prevent="createFloors">
                    <p class="h4 text-center mb-4" id="login_title">How many floors does your building have?</p>
                    <div class="form-group">
                        <p>Choose number of floors</p>
                        <select class="form-control" name="floors_number" id="floors_number" v-model="floors_number">
                            <option v-for="array_number_floor in array_number_floors" :value="array_number_floor">{{ array_number_floor }} </option>
                        </select>
                    </div>
                    <div class="text-center mt-4">
                        <button class="btn button_buildings" :disabled="floors_number.length" type="submit">{{(floors > 0)? 'Add more floors' : 'Create floors'}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "FloorCreate",
        props: {
            building_id:'',
            floors:''
        },
        data() {
            return {
                floors_number: '',
                array_number_floors:''
        }
        },
        methods: {
            async createFloors() {
                eventBus.$emit('showLoader',true)
                this.$store.dispatch('createFloors', {
                    building_id: this.building_id,
                    floors_number: this.floors_number,
                }).then(response => {
                    eventBus.$emit('showLoader',false)
                    this.$emit("closeModal")
                }).catch(error => {
                    eventBus.$emit('showLoader',false)
                    this.$swal(
                        {
                            title: 'A problem has occurred, try again',
                            icon: 'error',
                            showConfirmButton: false,
                            timer: 1500
                        }
                    )
                });
            },
        },
        mounted(){
            this.array_number_floors = Array.from({length: 100}, (_, index) => index + 1);
        }
    }
</script>

<style scoped>

</style>