<template>
    <div class="container mt-5">
        <div class="row">
            <div class="container_floors_building col-12 ">
                <back></back>
                <h1 class="titles">My Building Floors</h1>
                <div class="row">
                    <div class="container_create_new" v-b-modal.modal-new-floor>
                        <span>Create a floor</span>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                    </div>
                </div>
                <b-modal ref='modal_create' id="modal-new-floor" size="lg" title="Create new Floor" hide-footer>
                    <floor-building-create @getFloors="getFloors" :floors="(floors.data) ? floors.data.length : 0" :building_id="building_id" @closeModal="closeModal"></floor-building-create>
                </b-modal>
                <template v-for="(floor,index)  in floors.data" :floor="floor" :index="index">
                    <div class="row container_row">
                        <div class="row col-sm-12 background-cian m-0 pb-2 pt-2">
                            <div class="container_link col-sm-8 col-6 row align-items-center">
                                <div class="">Floor # {{floor.floor_number}}</div>
                            </div>
                            <div class="col-sm-4 col-6 text-right" @click.prevent>
                                <ul :id="'menu_'+floor.id" class=" m-0 p-0 list-inline circle_menu align-items-center">
                                    <li class="list-inline-item mr-3">
                                        <div class="" v-b-modal.create-new-apartment @click="setFloor(floor)">
                                            <span @click.prevent >Add Apartment</span>
                                            <svg @click.prevent width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle ml-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                            </svg>
                                        </div>
                                    </li>
                                    <li class="list-inline-item" v-b-modal.modal-edit-floor @click="setFloor(floor)">
                                        <span @click.prevent class="edit_build" >
                                            <svg @click.prevent width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                            </svg>
                                        </span>
                                    </li>
                                    <li class="list-inline-item mr-3" @click="removeFloor(floor.id)">
                                        <span class="remove_build" >
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                               <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                               <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                            </svg>
                                        </span>
                                    </li>

                                    <li class="list-inline-item" @click="showApartments($event)">
                                        <span @click.prevent  v-b-toggle="'show_apartments_'+floor.id" >
                                           <svg @click.prevent  width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                              <path fill-rule="evenodd" d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5.5 10a.5.5 0 0 0 .832.374l4.5-4a.5.5 0 0 0 0-.748l-4.5-4A.5.5 0 0 0 5.5 4v8z"/>
                                           </svg>
                                         </span>
                                    </li>
                                </ul>


                            </div>
                        </div>
                        <div class="row  col-sm-12">
                            <b-collapse class="col-sm-12" :id="'show_apartments_'+floor.id">
                                <div class="container-apartment-row p-0">
                                <template v-for="(apartment,index)  in floor.apartments" :apartment="apartment" :index="index">
                                    <div class="row p-0">
                                        <div class="col-sm-6">{{apartment.apartment_number}}</div>
                                        <div class="col-sm-6">{{apartment.type_of_apartment}}</div>
                                    </div>
                                </template>
                                    <span v-if="floor.apartments.length <= 0">No apartments</span>
                                </div>
                            </b-collapse>
                        </div>
                    </div>
                </template>
                <b-modal id="modal-edit-floor" :title="'Update: ' + current_floor.floor_number"  :cancel-title="'Cancel'" :ok-title="'Update'" @ok="(updateFloor(current_floor))">
                    <form  id="floor_update" class="mx-auto" action="#">
                        <input type="text" id="floor_number" name="floor_number" class="form-control" placeholder="Name" v-model="current_floor.floor_number"/>
                    </form>
                </b-modal>
                <b-modal ref="create_new_apartment" id="create-new-apartment" hide-footer>
                    <apartment-building-create @closeModal="closeModal" :building_id="building_id" :floor_id="current_floor.id"  :hide-footer="true"></apartment-building-create>
                </b-modal>
            </div>
            <div class="container">
                <div class="container_pagination">
                    <pagination v-if="floors" class="justify-content-center" :data="floors" @pagination-change-page="getFloors($event)">
                        <span class="pagination_arrows" slot="prev-nav">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                            </svg>
                        </span>
                        <span class="pagination_arrows" slot="next-nav">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                            </svg>
                        </span>
                    </pagination>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import FloorBuildingCreate from '@/components/floor/FloorBuildingCreate'
    import ApartmentBuildingCreate from '@/components/apartment/ApartmentBuildingCreate'
    import pagination from 'laravel-vue-pagination';
    import Back from "../global/back";
    export default {
        name: "FloorBuildingAll",
        components:{Back, FloorBuildingCreate,pagination, ApartmentBuildingCreate},
        data(){
            return{
                floors:{},
                floor:{},
                building_id:'',
                current_floor:''
            }
        },
        methods:{
            getFloors(page=1){
                eventBus.$emit('showLoader',true)
                this.$store.dispatch('getFloors',{
                    page:page,
                    building_id: this.building_id
                })
                    .then(response => {
                        this.floors = response.data
                        eventBus.$emit('showLoader',false)
                    }).catch(error => {
                });
            },
            updateFloor(floor){
                eventBus.$emit('showLoader',true)
                this.$store.dispatch('updateFloor', {
                    id: floor.id,
                    floor_number: floor.floor_number,
                })
                    .then(response => {
                        this.getFloors()
                        eventBus.$emit('showLoader',false)
                        this.images= []
                        this.$swal({
                            title: 'The floor was successfully updated.',
                            icon: 'success',
                            showConfirmButton: false,
                            timer: 1500
                        })
                    }).catch(error => {
                    eventBus.$emit('showLoader',false)
                    this.$swal({
                        title: error.response.data.errors.floor_number,
                        icon: 'error',
                        showConfirmButton: false,
                        timer: 1500
                    })
                });
            },
            removeFloor(id){
                this.$swal({
                    title: 'Are you sure to remove this floor?',
                    text:  'You will not be able to reverse this action!',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete!',
                    cancelButtonText: 'No, cancel!',
                }).then((result) => {
                    if (result.value) {
                        this.$store.dispatch('remove', {
                            id: id,
                            url: '/remove_floor/'
                        }).then(response => {
                            this.getFloors()
                            this.$swal(
                                {
                                    title: 'Deleted!',
                                    text: 'The floor and its apartments were erased.',
                                    icon: 'error',
                                    showConfirmButton: false,
                                    timer: 1500
                                }
                            )
                        })
                    }
                })
            },
            closeModal(){
                this.getFloors()
                this.$refs["modal_create"].hide()
                this.$refs["create_new_apartment"].hide()
                this.$swal({
                    title: 'The Floors were successfully created.',
                    icon: 'success',
                    showConfirmButton: false,
                    timer: 1500
                })
            },
            setFloor(floor){
                this.current_floor = floor
            },
            showApartments(event){
                if(event.currentTarget.querySelector('svg').classList.contains('rotate_arrow')){
                    event.currentTarget.querySelector('svg').classList.remove('rotate_arrow')
                }else{
                    event.currentTarget.querySelector('svg').classList.add('rotate_arrow')
                }
            }
        },
        created(){
            this.building_id = this.$route.params.id;
            this.getFloors()
        }

    }
</script>

<style scoped lang="scss">
.container_row{
    border-bottom: 1px solid #ffffff;
}
.container_create_new_small{
    width: 190px;
    display: block;
    margin: 20px 10px;
    position: relative;
    span{
        margin-right: 15px;
    }
    svg{
        width: 30px;
        height: 30px;
        color: #262262;
    }
}
    .collapse-arrow{
        svg{
            color: #ffffff;
            cursor: pointer;
        }
        .circle_menu{
            li{
            }
        }

    }
    .rotate_arrow{
        animation-duration: 3s;
        transform: rotate(90deg);
    }
    .container-apartment-row{
        border-bottom: 1px solid #b1b4b6;
    }

</style>