<template>
    <div class="container mt-5" v-if="user.roles[0].name === 'admin'">
        <div class="row">
            <div class="container_buildings col-12">
                <h1 class="titles">All Users</h1>
                <div class="row col-12 title_rows_data mr-0 ml-0">
                    <div class="col-4 col-sm-6">Name</div>
                    <div class="col-4 col-sm-3">Rol</div>
                    <div class="col-4 col-sm-3">Status</div>
                </div>
                <div v-for="(us,index)  in users.data" :key="us.id" :us="us" :index="index">
                    <div class="row col-12">
                        <div class="col-4 col-sm-6">{{us.name}}</div>
                        <div class="col-4 col-sm-3" v-if="us.id !== user.id" >
                            <select class="form-control  col-12" name="role" id="role"  v-model="us.roles[0].name" v-on:change="activeUpdateRole(us)">
                                <option  v-for="role in roles" v-bind:value="role.name"  >
                                    {{ role.name }}
                                </option>
                            </select>
                            <div class="row">
                                <div class="btn button_buildings center d-none" :ref="'btn-'+us.id"  @click="updateUserRole(us.id)" >Update Role</div>
                            </div>
                        </div>
                        <div class="col-4 col-sm-3" v-else> Can't change your own user role</div>
                        <div class="col-4 col-sm-3" v-if="us.id !== user.id">
                            {{(us.status === 1) ? 'Enable ' : 'Disable '}}
                            <label class="switch-button">
                                <input type="checkbox" :checked="us.status === 1" :value="us.status" @change="updateStatusUser(us.id,$event)">
                                <div class="slide round"></div>
                            </label>
                        </div>
                    </div>
                    <div class="col"><hr></div>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="container_pagination">
                <pagination v-if="users" class="justify-content-center" :data="users" @pagination-change-page="getAllUsers($event)">
                       <span class="pagination_arrows" slot="prev-nav">
                           <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                           </svg>
                       </span>
                    <span class="pagination_arrows" slot="next-nav">
                           <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                               <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                           </svg>
                       </span>
                </pagination>
            </div>
        </div>
    </div>
</template>

<script>
    import pagination from 'laravel-vue-pagination';
    export default {
        name: "UserAll",
        components:{pagination},
        props:{
            user:{}
        },
        data(){
            return{
                users:"",
                roles:{},
                selected_role:''
            }
        },
        methods:{
            async getAllUsers(page=1){
                this.$store.dispatch('getAllUsers',{
                    page:page
                })
                    .then(response => {
                        this.users = response.data
                    }).catch(error => {
                });
            },
            getUserRoles(){
                this.$store.dispatch('getUserRoles')
                    .then(response => {
                        this.roles = response.data
                    }).catch(error => {
                });
            },
            activeUpdateRole(user){
                this.selected_role = user.roles[0].name
                let e = this.$refs['btn-'+user.id]
                e[0].classList.remove('d-none')
            },
            updateUserRole(id){
                this.$store.dispatch('updateUserRole',{
                    id: id,
                    role:this.selected_role
                })
                    .then(response => {
                        let e = this.$refs['btn-'+id]
                        e[0].classList.add('d-none')
                        this.getAllUsers()
                        this.$swal({
                            title: 'The role of user '+ response.data.name+' was updated.',
                            icon: 'success',
                            showConfirmButton: false,
                            timer: 1500
                        })
                    }).catch(error => {
                });
            },
            updateStatusUser(id,event){
                this.$store.dispatch('updateStatusUser',{
                    id: id,
                    check: (parseInt(event.target.value) === 1) ? 0 : 1,

                }).then(response => {
                    this.getAllUsers()
                    this.$swal({
                        title: response.data+'.',
                        icon: 'success',
                        showConfirmButton: false,
                        timer: 2000
                    })
                })
            },
        },
        created(){
            this.getAllUsers()
            this.getUserRoles()
        }

    }
</script>

<style lang="scss">
.show_btn{
    display: block!important;
}
.switch-button {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 10px;
    label{
        margin-bottom: 0!important;
    }
}
.switch-button input {display:none;}
.slide {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    padding: 8px;
    color: #fff;
}
.slide:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 16px;
    bottom: 3px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slide {
    background-color: #006cb0;
    padding-left: 20px;
    margin-top: 5px;
}
input:focus + .slide {
    box-shadow: 0 0 1px #006cb0;
}
input:checked + .slide:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    left: -22px

}
.slide.round {
    border-radius: 34px;
    margin-top: 5px;

}
.slide.round:before {
    border-radius: 50%;
}
</style>