<template>
    <div class="container">
        <div class="row justify-content-center align-items-center ">
            <div id="create_building_form" class="col-12 col-md-8">
                <h1 class="text-center mb-4" id="login_title">Create a new Apartment</h1>
                <form  id="building_create" class="mx-auto" action="#" @submit.prevent="createApartment">
                    <div class="form-group">
                        <input type="text" id="apartment_number" name="apartment_number" class="form-control" placeholder="Apartment number" v-model="apartment.apartment_number"/>
                        <small v-if="errors.apartment_number" class="text-danger">{{errors.apartment_number.toString()}}</small>
                    </div>
                    <div class="form-group">
                        <type-apartment @onChangeSelect="onChangeSelect"></type-apartment>
                        <small v-if="errors.type_of_apartment" class="text-danger">{{errors.type_of_apartment.toString()}}</small>
                    </div>
                    <div class="text-center mt-4">
                        <button class="btn button_buildings" type="submit">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</template>

<script>
    import TypeApartment from '@/components/global/select/type_of_apartment'

    export default {
        name: "ApartmentBuildingCreate",
        components:{TypeApartment},
        props:{
            building_id:'',
            floor_id:''
        },
        data(){
            return{
                apartment:{
                    apartment_number:'',
                    type_of_apartment:'Small - A'
                },
                errors:{}
            }
        },
        methods:{
            createApartment() {
                eventBus.$emit('showLoader',true)
                this.$store.dispatch('createApartment', {
                    apartment_number: this.apartment.apartment_number,
                    type_of_apartment: this.apartment.type_of_apartment,
                    floor_id: this.floor_id,
                    building_id: this.building_id,

                }).then(response => {
                    this.$emit("closeModal")
                    eventBus.$emit('showLoader',false)
                }).catch(error => {
                    this.$emit("closeModal")
                    eventBus.$emit('showLoader',false)
                    this.errors.apartment_number = error.response.data.errors.apartment_number
                    this.errors.type_of_apartment = error.response.data.errors.type_of_apartment
                    this.errors.floor_id = error.response.data.errors.floor_id
                    this.errors.building_id = error.response.data.errors.building_id
                });
            },
            onChangeSelect(e){
                this.apartment.type_of_apartment = e
            }
        }
    }
</script>

<style scoped>

</style>