<template>
    <div class="container mt-5" >
        <div class="card mb-5">
            <h5 class="card-header background-cian">Profile Information</h5>
            <div class="card-body row ">
                <h5 class="card-title col">Name: {{user.name}}</h5>
                <h5 class="card-title col">Email: {{user.email}}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-12">
                <div class="card mb-5">
                    <h5 class="card-header background-cian">Avatar</h5>
                    <div class="card-body row image-preview-container">

                        <img v-if="user.avatar" :src="base_url+'uploads/user/profile/'+user.id+'/'+user.avatar" alt="profile avatar">
                    </div>
                    <div class="card-body row ">
                        <upload-file :title="title" :type="type" :model_name="model_name" :id="user.id"></upload-file>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-12">
                <div class="card">
                    <h5 class="card-header background-cian">Update Profile</h5>
                    <div class="card-body ">
                        <form @submit.prevent="updateProfile">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="name">Email</label>
                                    <div class="mb-2">{{user.email}}</div>
                                    <label for="name">Nombre</label>
                                    <input type="text" class="form-control" id="name" placeholder="Nombre" v-model="user.name">
                                </div>
                            </div>
                            <button  type="submit" class="btn button_buildings">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import UploadFile from '@/components/global/UploadFile'
    export default {
        name: "Profile",
        components: {UploadFile},
        props:{
            user:'',
            base_url:'',
        },
        data(){
          return{
              title:'Profile Avatar',
              type:'/user/profile/',
              model_name:'user',
              id: this.user.id
          }
        },
        methods: {
            updateProfile() {
                this.$store.dispatch('updateProfile', {
                    id: this.user.id,
                    name: this.user.name,
                }).then(response => {
                    this.$store.dispatch('getUser')
                    this.$swal({
                        title: 'Your profile was successfully updated.',
                        icon: 'success',
                        showConfirmButton: false,
                        timer: 1500

                    })
                }).catch(error => {
                });
            },
        }
    }
</script>

<style lang="scss">
    .image-preview-container{
        img{
            max-width: 70%;
            max-height: 250px;
            margin: 30px auto;
            display: block;
        }

    }
    #uploadImage{
        input{
            overflow: hidden;
        }
    }
</style>