<template>
    <div class="container_select">
        <label class="typo__label">Select a category</label>
        <multiselect v-model="mod" deselect-label="Can't remove this value" :multiple="true" track-by="name" label="name" placeholder="Select one" @input="onChange" :options="categories" :searchable="true" :allow-empty="false">
            <template slot="singleLabel" slot-scope="{ name }"><strong>{{ categories.id }}</strong> is written in<strong>  {{ categories.name }}</strong></template>
        </multiselect>
    </div>
</template>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<script>

    import Multiselect from 'vue-multiselect'
    export default {
        name: "CategoryAllSelect",
        components:{Multiselect},
        props:{
            model:''
        },
        data(){
            return{
                categories:[],
                category:'',
                mod: this.model
            }
        },
        methods:{
            async getAllCategories(){
                this.$store.dispatch('getAllCategories')
                    .then(response => {
                        this.categories = response.data
                        this.$emit('getCategoryData',this.mod)
                    }).catch(error => {

                });
            },
            onChange(){
                this.$emit('getCategoryData',this.mod)
            }
        },
        mounted(){
            this.getAllCategories()

        }
    }
</script>
