<template>
    <select id="" class="form-control" @change="getSelectedItem($event)">
        <option>Small - A</option>
        <option>Medium - B</option>
        <option>Big - C</option>
        <option>Biggest - D</option>
        <option>Huge - E</option>
        <option>Penthouse</option>
    </select>
</template>

<script>
    export default {
        name: "type_of_apartment",
        data(){
            return{
            }
        },
        methods:{
            getSelectedItem(e){
                this.$emit('onChangeSelect',e.target.value)
            },
            setDefaultValue(value){
                this.$emit('onChangeSelect',value)
            }
        },
        created(){
            this.setDefaultValue('A')
        }
    }
</script>

<style scoped>

</style>