/*Colors*/
/*Main colors*/
.dark_share_100{
  color: #262262;
}
.dark_share_75{
  color: #5c5989;
}
.dark_share_50{
  color: #9290b0;
}
.dark_share_25{
  color: #c9c8d8;
}
.dark_share_5{
  color: #f4f4f7;
}
.cian{
  color: #006cb0;
}
.cian_50{
  color: #80b5d7;
}
.background-cian{
  background: #006cb0;
  color: #ffffff;
}
/*end main colors*/
/*End colors*/
/*Buttons*/
.button_buildings{
  background: #006cb0;
  border: 1px  solid #006cb0;
  color: #ffffff;
  width: auto;
  border-radius: 50px;
  padding: 5px 15px 5px 15px;
  &:hover{
    border: 1px solid #006cb0;
    background: #ffffff;
    color: #006cb0;
  }
}
.button_buildings_tags{
  background: #006cb0;
  border: 1px  solid #006cb0;
  color: #ffffff;
  width: auto;
  border-radius: 15px;
  padding: 2px 5px 2px 5px;
  font-size: 10px;
}


/*end buttons*/
