@import "colors";
@import "etiquetas";

/***Global***/
#app{
  :focus {
    outline: none;
  }
}
div{
  &:focus {
    outline: none!important;
  }
}
.titles{
  color:#262262!important;
  margin-bottom: 25px!important;
}
.paragraph{
  color:#5c5989;
}
.edit_build{
  cursor: pointer;
  margin-right: 10px;
  &:hover > svg{
    transition: all .2s ease-in-out;
    transform: scale(1.2, 1.2);
    color: #006cb0;
  }
}
.remove_build{
  cursor: pointer;
  &:hover > svg{
    transition: all .2s ease-in-out;
    transform: scale(1.2, 1.2);
    color: #006cb0;
  }
}
input,textarea,select{
  margin-bottom: 25px;
  &:focus{
    outline: none;
    border-color: transparent;
    box-shadow: 1px 1px 5px #5c5989;
  }
}
svg{
  &:focus{
    outline: none;
  }
}
.form-control{
  &:focus{
    outline: none;
    border-color: transparent;
    box-shadow: 1px 1px 5px #5c5989;
  }
}
.container_create_new{
  width: 190px;
  display: block;
  margin: 20px 10px;
  position: relative;
  span{
    margin-right: 15px;
  }
  svg{
    width: 40px;
    height: 40px;
    color: #262262;
    &:hover{
      transition: all .2s ease-in-out;
      transform: scale(1.1, 1.1);
      opacity: 0.8;
    }
  }
}
.hv100{
  height: 100vh!important;
}
.hv100_nav{
  min-height: calc(100vh - 96px)!important;
}
.mt_container{
  margin-top: 96px!important;
}
.img_min{
  min-width: 100%;
}
.container_back{
  margin-top: 20px;
  margin-bottom: 25px;
  a{
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    svg{
      color: #006cb0;
    }
    span{
      color: #006cb0;
    }
  }
}
.center{
  margin: 0 auto;
  display: block;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #006cb0e3;
}
/**/
/***Nav***/
.navbar{
  box-shadow: 0px 2px 4px #d2d2d2;
  .navbar-brand{
    img{
      height: 70px;
    }
  }
  #nav-collapse{
    ul{
      li{
        a{
          color: #414649;
          &:hover{
            color: #006cb0;
          }
        }
        .router-link-exact-active{
          color: #006cb0;
          font-weight: bold!important;
        }
      }
    }
  }
}
.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #80b5d7;
}
/**/
/*CKeditor*/
.ck-editor__editable {
  min-height: 150px;
}
/**/
/*Multiselect*/
.container_select{
  .multiselect__tags{
    display: block;
    .multiselect__tags-wrap{
      .multiselect__tag {
        background: #006cb0;
      }
    }

  }
  .multiselect__content-wrapper{
    display: block;
    .multiselect__content{
      .multiselect__element {
        .multiselect__option {

        }
        .multiselect__option--highlight {
          background: #006cb0;
          outline: none;
          color: #fff;
          :after{
            background: #006cb0;
        }
        }
      }
    }
  }
}
/**/
/*Forms*/
.container_form{
  padding: 100px 15px;
  border: 1px solid #adadad;
  max-width: 650px;
  width: 100%;
  background: #006cb0;
  color: #fff;
  border-radius: 16px;
  h1{
    color: #ffffff!important;
  }
  input{
    max-width: 75%;
    margin: 35px auto;
  }
  .button_public_form{
    background: #ffffff;
    color: #006cb0;
    width: auto;
    border-radius: 50px;
    padding: 5px 15px 5px 15px;
    display: block;
    margin: 0 auto;
    &:hover{
      border: 1px solid #ffffff;
      background: #006cb0;
      color: #ffffff;
    }
  }
  .footer_form{
    max-width: 75%;
    margin: 35px auto;
    display: block;
    a{
      font-weight: bold;
    }
  }
}
/**/
/*Paginator*/
.container_pagination {
  margin-top: 25px;
  .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #006cb0;
    border-color: #006cb0;
  }
}
/**/
/*Row main content data*/
.title_rows_data{
  background: #006cb0;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
}
/**/
/*Footer*/
#footer_building{
  background: #006cb0;
}
/**/
