<template>
    <div id="app">
        <admin-layout v-if="loggedIn && userAuth && userAuth.roles[0].name === 'admin'"></admin-layout>
        <default-layout v-if="loggedIn && userAuth &&  userAuth.roles[0].name === 'user'"></default-layout>
        <public-layout v-if="!loggedIn"></public-layout>
        <loader v-if="loader"></loader>
    </div>
</template>
<script>
    import AdminLayout from '@/components/layouts/AdminLayout'
    import DefaultLayout from '@/components/layouts/DefaultLayout'
    import PublicLayout from '@/components/layouts/PublicLayout'
    import Loader from '@/components/global/loader'

    export default {
        name: "Main",
        components:{AdminLayout, DefaultLayout,PublicLayout, Loader},
        data(){
            return{
                loader:false
            }
        },
        computed: {
            loggedIn() {
                return this.$store.getters.loggedIn
            },
            userAuth() {
                return JSON.parse(this.$store.getters.userAuth)
            },
            baseUrlApi() {
                return this.$store.getters.baseUrlApi
            },
        },
        methods:{
            showLoader(show) {
                return (show) ? this.loader = true : this.loader = false
            },
            scrollTop(id_element) {
                let element = document.getElementById(id_element)
                let headerOffset = 96;
                let elementPosition = element.getBoundingClientRect().top;
                let offsetPosition = elementPosition - headerOffset;
                return (id_element)? window.scrollTo({top:offsetPosition,behavior: "smooth"}): window.scrollTo({top: offsetPosition,behavior: "smooth"});
            },
        },
        created(){
            eventBus.$on('showLoader', this.showLoader);

        },
        mounted(){
            eventBus.$on('scrollTop', this.scrollTop);
        }
    }
</script>
<style lang="scss">
.image_profile_nav{

    overflow: hidden;
    border-radius: 50%;
    a {
        border-radius: 50%;
        overflow: hidden;
        padding: 0!important;
        margin-top: 5px;

        img {
            height: 20px;
            width: 23px;
        }
    }
}
</style>
