<template>
    <div>
        <b-navbar class="navbar navbar-expand-lg navbar-light  bg-white" fixed="top"  toggleable="lg">
            <b-navbar-brand><router-link class="navbar-brand" to="/"><img src="../../assets/images/logo/logo_nav.png" alt="MyBuildings" ></router-link></b-navbar-brand>
            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <router-link class="nav-link" to="/">Home</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" :to="{name:'MainSearch',params:{ search: ' '}}">Buildings</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" v-if="!loggedIn"  to="/login">Sign In</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" v-if="!loggedIn"  to="/register">Register</router-link>
                    </li>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
        <div class="container-fluid mt_container">
            <div class="row">
                <router-view  :user="userAuth" :base_url="baseUrlApi"/>
            </div>
        </div>
        <footer-building></footer-building>
    </div>
</template>

<script>
    import footerBuilding from '@/components/public/footerBuilding';

    export default {
        name: "PublicLayout",
        components:{footerBuilding},
        data(){
            return{
            }
        },
        computed: {
            loggedIn() {
                return this.$store.getters.loggedIn
            },
            userAuth() {
                return JSON.parse(this.$store.getters.userAuth)
            },
            baseUrlApi() {
                return this.$store.getters.baseUrlApi
            },
        },
    }
</script>

<style scoped>

</style>