<template>
    <div class="container">
        <div class="row">
            <div class="container_building col-12">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <b-carousel
                            id="carousel-1"
                            v-model="slide"
                            :interval="1500"
                            controls
                            indicators
                            background="#ababab"
                            img-width="1024"
                            img-height="480"
                            style="text-shadow: 1px 1px 2px #333;"
                            @sliding-start="onSlideStart"
                            @sliding-end="onSlideEnd"
                        >
                            <div v-for="(building_image,index)  in building.images" :key="building_image.id" :building_image="building_image" :index="index">
                               <b-carousel-slide
                                    :img-src="base_url+'uploads/'+building_image.url"
                                ></b-carousel-slide>
                            </div>
                        </b-carousel>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="container_description" v-html="building.description"></div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="container_amenities">
                        <ul>
                            <template v-for="amenity in building.amenities">
                                <li>{{amenity.name+' start:'+amenity.open_at+' | end:'+amenity.close_at}}</li>
                            </template>
                        </ul>
                    </div>
                    <div class="container_amenities">
                        <ul>
                            <template v-for="amenity in building.categories">
                                <li>{{amenity.name}}</li>
                            </template>
                        </ul>
                    </div>
                    <div class="container_amenities ml-5">
                       <span>Number of floors: {{building.floors.length}}</span>
                    </div>
                    <div class="container_amenities ml-5">
                        <span>Number of apartments: {{building.apartments.length}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "buildingDetails",
        props:{
            building:'',
            base_url:''
        },
        data() {
            return {
                slide: 0,
                sliding: null
            }
        },
        methods: {
            onSlideStart(slide) {
                this.sliding = true
            },
            onSlideEnd(slide) {
                this.sliding = false
            }
        }
    }
</script>

<style scoped>

</style>