<template>
    <div class="container-fluid pb-0 mb-0 mt-5 justify-content-center text-light " id="footer_building">
        <footer class="container">
            <div class="row justify-content-center py-5">
                <div class="col-12">
                    <div class="row ">
                        <div class="col-md-4 col-sm-4 col-12 my-auto mx-auto">
                            <h3 class="text-white mb-md-0 mb-5 bold-text">My Buildings</h3>
                        </div>

                        <div class="col-md-4 col-sm-4 col-12">
                            <h6 class="mb-3 mb-lg-4 text-white bold-text mt-sm-0 mt-5"><b>ADDRESS</b></h6>
                            <p class="mb-1">3338, apurimak street</p>
                            <p>GRANADO SECTOR</p>
                        </div>
                        <div class=" col-md-4 col-sm-4 col-12">
                            <h6 class="text-white bold-text"><b>ALEJANDRO GARRIDO</b></h6><small>
                            <a class="text-white" :href="'mailto:alejandro.garrido.g@gmail.com'">alejandro.garrido.g@gmail.com</a></small>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-4 col-12 mx-auto text-center mt-4">
                            <small ><span>&#174;</span>All Rights Reserved.</small>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
    </div>
</template>

<script>
    export default {
        name: "footer_building"
    }
</script>
