<template>
    <div class="home container-fluid row m-0 p-0">
        <section id="main_home" ref="main_home">
            <div class="container h-100">
                <div class="row h-100 justify-content-center align-items-center" style="z-index: 50">
                    <form class="col-12" id="search_form">
                        <div class="form-group">
                            <div class="text-center text-white text_image">Discover your perfect home</div>
                            <div class="input-group col-md-6 mx-auto">
                                <input class="form-control py-2 border-right-0 border" type="search" placeholder="Find you home..." id="search-input" v-model="search" >
                                <select id="categories" class="form-control"  @change="onChangeCategory($event)">
                                    <option selected value="">Select category </option>
                                    <option :value="JSON.stringify({id: category.id, name: category.name})"  v-for="(category,index)  in categories">{{category.name}}</option>
                                </select>
                                <span class="input-group-append" >
                                    <router-link  :class="{'unclick': !isDisable}" :to="{ path: '/search', query: {search: search,category: category}} ">
                                    <button class="btn btn-outline-secondary border-left-0 border" type="submit">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                                            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                                        </svg>
                                    </button>
                                    </router-link>
                                </span>
                                <div class="w-100">
                                  <small v-if="errors.search" class="text-white">{{errors.search}}</small>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="overlay_main_home"></div>
        </section>

        <section id="main_text" class="container-fluid d-flex align-items-center">
            <div class="container_text ">
                <div class="main_text_section">
                    <h1 class="center">Your Best Life Begins Here<br>Discover the perfect house, apartment for you.</h1>
                </div>
            </div>
        </section>

        <section id="buildingOffers">
            <loader v-if="loader"></loader>
            <div class="container">
                <h1 class="font-weight-light text-center m-4 cian">Check Buildings Offers</h1>
                <div class="row">
                    <template  v-for="(public_building,index)  in public_buildings"  :public_building="public_building" :index="index">
                        <div class="col-md-4 col-sm-6 col-6 p-2"><img class="img-fluid img-thumbnail p-0 mb-2 img_min" :src="base_url+'uploads/'+public_building.images[0].url" :alt="'Building '+index" @click="setBuilding(public_building)"  v-b-modal.modal-show-building></div>
                    </template>
                    <b-modal ref='modal_create' id="modal-show-building" size="xl" :title="building.name" hide-footer>
                        <building-details :building="building" :base_url="base_url"></building-details>
                    </b-modal>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import buildingDetails from '@/components/public/buildingDetails';
    import Loader from '@/components/global/loader';
    export default {
    name: 'Home',
    components: {buildingDetails,Loader},
    props:{
        base_url:''
    },
    data() {
        return {
            public_buildings:{},
            building:{},
            image: '',
            search:'',
            errors:{
                search:''
            },
            loader:false,
            categories:'',
            category: [],
            allow_search: false
        }
    },
        computed: {
            isDisable() {
                return (this.search.length > 0 || this.category.length > 0);
            }
        },
    methods: {
        getPublicBuildings(){
            this.loader= true
            this.$store.dispatch('getPublicBuildings')
                .then(response => {
                    this.public_buildings = response.data
                    this.loader = false
                }).catch(error => {
            });
        },
        getPublicAllCategories(){
            this.$store.dispatch('getPublicAllCategories')
                .then(response => {
                    this.categories = response.data
                }).catch(error => {

            });
        },
        setBuilding(building){
            this.building = building
        },
        getBackground(){
            const images = ['1', '2', '3']
            const random = Math.floor(Math.random() * images.length);
            return images[random] + '.jpg'
        },
        onChangeCategory(event){
            this.category = event.target.value
        }
    },
    mounted(){
        let $ref = this.$refs['main_home']
        let got_image = this.getBackground()
        let img = require('../assets/images/home/main/'+got_image)
        $ref.style.backgroundImage = `url(${img})`
        this.getPublicBuildings()
        this.getPublicAllCategories()
    }

}
</script>
<style scope lang="scss">
  #main_home {
      z-index: 1;
      position: relative;
      display: block;
      background-position: center center !important;
      background-repeat: no-repeat !important;
      background-size: cover;
      height: 550px;
      width: 100%;
      .text_image {
          font-size: 40px;
          margin-bottom: 30px;
          text-transform: uppercase;
          text-shadow: 3px 2px 3px #666666;
      }
      #search_form {
          z-index: 10;
          input,select{
              border: 1px solid #006cb0!important;

          }
          button {
              background: #006cb0;
              border-radius: 0 5px 5px 0;
              svg {
                  color: #ffffff;
              }
          }
      }
  }
    #main_text{
        background-image: url('~@/assets/images/home/section.svg');
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 350px;
        .container_text{
            width: 100%;
            .main_text_section{
                color: #ffffff;
                font-size: 35px;
                width: 100%;
                margin: 0 auto;
                display: block;
                text-align: center;
            }
        }
    }
    #buildingOffers{
        position: relative;
        display: block;
        min-height: 400px;;
        width: 100%;
        padding: 30px;
    }
    .unclick{
        pointer-events: none!important;
    }
</style>
