<template>
    <div class="container hv100_nav mt-5" id="container_search">
        <div class="row">
            <div class="container h-100" >
                <div class="row h-100 justify-content-center align-items-center" style="z-index: 50">
                    <form class="col-12" id="search_form" @submit.prevent="searchText">
                        <div class="form-group">
                            <div class="input-group col-md-6 mx-auto">
                                <input class="form-control py-2 border-right-0 border" type="search" placeholder="Find you home..." id="search-input" v-model="filters.search" >
                                <span class="input-group-append" >
                                  <button class="btn btn-outline-secondary border-left-0 border" type="submit">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                      <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                                      <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                                    </svg>
                                  </button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="overlay_main_home"></div>
        </div>
        <div class="row"><button class="btn button_buildings m-3" @click="searchAll">Clear search</button></div>

        <div class="row">
            <div class="col-md-3 col-sm-12">
                <search-box ref="childSearchBox" :category_data="category_data" :search_data="search_data" @searchFilters="searchFilters"></search-box>
            </div>
            <div ref="container_search_results" class="container_search_results col-md-9 col-sm-12 hv100_nav" id="container_search_results" >
                <loader v-if="loader"></loader>
                <h1 class="titles" v-if="buildings.data">Search Results: {{buildings.total}}</h1>
                <div  class="container_buildings_search" v-for="(building,index)  in buildings.data"  :building="building" :index="index">
                    <div class="row col-sm-12 col-md-12 col-12" @click="setBuilding(building)"  v-b-modal.modal-show-building>
                        <div class="col-sm-3 col-12"><img class="img-fluid img-thumbnail p-0 mb-2 img_min" :src="base_url+'uploads/'+building.images[0].url" :alt="'building '+index" @click="setBuilding(building)"></div>
                        <div class="col-sm-4 col-12">{{building.name}}</div>
                        <div class="col-sm-5 col-12">{{plainText(building.description.substring(0,240)+'...')}}</div>
                    </div>
                    <div class="col"><hr></div>
                    <ul class="list-inline col-sm-6 col-md-6 col-12 pl-3">
                        <template class="categories row"  v-for="building_category in building.categories">
                            <li class="list-inline-item button_buildings_tags">  {{building_category.name}}</li>
                        </template>
                    </ul>
                </div>

                <div class="container_pagination">
                    <pagination v-if="buildings" class="justify-content-center" :data="buildings" @pagination-change-page="searchBuildings($event)">
                    <span class="pagination_arrows" slot="prev-nav">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                        </svg>
                    </span>
                        <span class="pagination_arrows" slot="next-nav">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                        </svg>
                    </span>
                    </pagination>
                </div>

            </div>
            <b-modal ref='modal_create' id="modal-show-building" size="xl" :title="building.name" hide-footer>
                <building-details :building="building" :base_url="base_url"></building-details>
            </b-modal>

        </div>
    </div>
</template>

<script>
    import buildingDetails from '@/components/public/buildingDetails';
    import searchBox from '@/components/public/search/searchBox';
    import pagination from 'laravel-vue-pagination';
    import Loader from '@/components/global/loader';

    export default {
        name: "MainSearch",
        components:{buildingDetails, pagination, searchBox, Loader},
        props:{
            base_url:''
        },
        data() {
            return {
                buildings:'',
                building:'',
                url:'',
                category_data:[],
                filters:{
                    search:'',
                    category:''
                },
                loader: false,
                msg:'',
                search_data:'',

            }
        },
        methods: {
            async searchBuildings(page=1){
                this.loader=true
                this.$store.dispatch('searchBuildings',{
                    url:this.url,
                    filters: this.filters,
                    page:page
                })
                    .then(response => {
                        this.buildings = response.data
                        this.scrollPage()
                        this.loader = false
                    }).catch(error => {
                    this.loader=false

                });
            },
            setBuilding(building){
                this.building = building
            },
            plainText(building_description)
            {
                var input = building_description;
                return input.replace(/<(style|script|iframe)[^>]*?>[\s\S]+?<\/\1\s*>/gi,'').replace(/<[^>]+?>/g,'').replace(/\s+/g,' ').replace(/ /g,' ').replace(/>/g,' ');
            },
            searchText(){
                this.url = '/search-buildings'
                this.searchBuildings()
            },
            searchAll(){
                this.url = '/all-buildings'
                this.filters.search = ''
                this.filters.category = ''
                let query = Object.assign({}, this.$route.query);
                if(query.search || query.category){
                    delete query.search;
                    delete query.category;
                    this.$router.replace({ query });
                }
                this.category_data=[]
                const ref = this.$refs.childSearchBox
                Object.assign(ref.$data, ref.cleanFilters());
                this.searchBuildings()
            },
            searchFilters(filters){
                this.url = '/search-buildings'
                this.filters = filters
                this.searchBuildings()

            },
            scrollPage(){
                if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)){
                    eventBus.$emit('scrollTop','container_search_results')
                }else{
                    eventBus.$emit('scrollTop','app')
                }
            }
        },
        created(){
            this.category_data = this.$route.query.category
            this.search_data = this.$route.query.search
            if(this.$route.query.search || this.$route.query.category){
                this.url = '/search-buildings'
            }else{
                this.url = '/all-buildings'
                this.searchBuildings()
            }

        },
    }
</script>

<style lang="scss">
.container_buildings_search{
    border: 1px solid #e5eef7;
    box-shadow: 1px 1px 3px #a5a5a5;
    border-radius: 15px;
    padding: 20px 40px 0px 40px;
    margin: 20px 0px 20px 0px;

}
</style>