<template>
    <div class="inner-container-box-search">
        <form action="#" @submit.prevent="searchFilters">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <multiselect v-model="filters.category" deselect-label="Can't remove this value" :multiple="true" track-by="name" label="name" placeholder="Select one" :options="categories" :searchable="true" :allow-empty="true">
                        <template slot="singleLabel" slot-scope="{ name }"><strong>{{ categories.id }}</strong> is written in<strong>  {{ categories.name }}</strong></template>
                    </multiselect>
                </div>
                <div class="form-group col-md-12 slidecontainer">
                    <label id="textInputFloors">Number of floors: {{num_floors}}</label>
                    <input type="range" min="0" max="100" step="1" id="floors" name="building_name" class="form-control slider"  v-model="filters.floors" @input="updateTextFloors($event)"/>
                </div>
                <div class="form-group col-md-12">
                    <label id="textInputDepartments">Number of departments: {{num_apartments}}</label>
                    <input type="range" min="0" max="100" step="1" id="apartments" name="apartments" class="form-control slider"  v-model="filters.apartments" @input="updateTextDepartmets($event)"/>

                </div>
            </div>
            <button type="submit" class="button_buildings mt-3 center"><span>Search</span></button>
        </form>
    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect'
    export default {
        name: "searchBox",
        components:{ Multiselect},
        props:{
            category_data:'',
            search_data:''
        },
        data(){
            return{
                categories:[],
                filters:{
                    category:[],
                    floors: 0,
                    apartments: 0,
                    search:''
                },
                num_floors:0,
                num_apartments:0
            }
        },
        watch: {
            category_data: function (value) {
                this.filters.category = value
            },
            search_data: function (value) {
                this.filters.search = value
            }
        },
        methods:{
            async getPublicAllCategories(){
                this.$store.dispatch('getPublicAllCategories')
                    .then(response => {
                        this.categories = response.data
                    }).catch(error => {
                });
            },
            searchFilters(){
                this.$emit('searchFilters',this.filters);
            },
            updateTextFloors(event){
                this.num_floors = event.target.value;
            },
            updateTextDepartmets(event){
                this.num_apartments = event.target.value;
            },
            cleanFilters(){
                this.filters.floors = 0
                this.filters.apartments = 0
                this.num_floors = 0
                this.num_apartments = 0
            }
        },
        mounted(){
            if(this.category_data && this.category_data.length > 0){
                this.filters.category.push(JSON.parse(this.category_data))
                this.filters.search = this.search_data
                this.$emit('searchFilters',this.filters)
            }
            if(this.search_data && this.search_data.length > 0){
                this.filters.search = this.search_data
                this.$emit('searchFilters',this.filters)
            }
            this.getPublicAllCategories()
        }
    }
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style  lang="scss">
    .slider {
        -webkit-appearance: none;
        width: 100%!important;
        height: 5px!important;
        border-radius: 5px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
        padding: 0px!important;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #006cb0;
        cursor: pointer;
        &::after{
            background: #5c5989;
        }
    }

    .slider::-moz-range-thumb {
        width: 15px;
        height: 5px;
        border-radius: 50%;
        background: #006cb0;
        cursor: pointer;
    }
    .multiselect__option--highlight {
        background: #006cb0!important;
        outline: none;
        color: #fff;
        &:after{
            content: attr(data-select);
            background: #006cb0!important;
            color: #ffffff;
        }
    }
    .multiselect__tag {
        background: #006cb0!important;
    }
    .multiselect__tag-icon:focus, .multiselect__tag-icon:hover {
        background: #006cb0!important;
    }
    .multiselect__tag-icon:after {
        content: "\D7";
        color: #00253e!important;
        font-size: 14px;
    }
    .inner-container-box-search{
        border: 1px solid #e5eef7;
        border-radius: 15px;
        padding: 40px 10px;
        box-shadow: 1px 1px 3px #a5a5a5;
    }
</style>