<template>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div id="create_building_form" class="col-12">
                <form  id="building_create" class="mx-auto" action="#"  autocomplete="off"  @submit.prevent="createAmenity">
                    <p class="h4 text-center mb-4" id="login_title">Create a new amenity</p>
                    <div class="form-group">
                        <input type="text" id="amenity_name" name="amenity_name" class="form-control" placeholder="Name" v-model="amenity.name"/>
                        <small v-if="errors.name" class="text-danger">{{errors.name.toString()}}</small>
                    </div>
                    <div class="form-group">
                        <input type="text" id="amenity_code" name="amenity_code" class="form-control" placeholder="Code" v-model="amenity.code"/>
                        <small v-if="errors.code" class="text-danger">The code field is required</small>
                    </div>
                    <div class="form-group">
                        <vue-timepicker format="hh:mm A" v-model="amenity.open_at"></vue-timepicker>
                        <small v-if="errors.open_at" class="text-danger">{{errors.open_at.toString()}}</small>
                    </div>
                    <div class="form-group">
                        <vue-timepicker format="hh:mm A" v-model="amenity.close_at"></vue-timepicker>
                        <small v-if="errors.close_at" class="text-danger">{{errors.close_at.toString()}}</small>
                    </div>
                    <div class="form-group">
                        <ckeditor   class="form-control" id="description" :editor="editor" placeholder="Type the content here!" v-model="amenity.description"></ckeditor>
                        <small v-if="errors.description" class="text-danger">{{errors.description.toString()}}</small>
                    </div>
                    <div class="text-center mt-4">
                        <button class="btn button_buildings" type="submit">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import VueTimepicker from 'vue2-timepicker/src'
    import CKEditor from '@ckeditor/ckeditor5-vue';
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    export default {
        name: "AmenityBuildingCreate",
        components: {VueTimepicker,  ckeditor: CKEditor.component},
        props: {
            building_id:''
        },
        data() {
            return {
                errors:{
                    name:'',
                    code: '',
                    open_at:'',
                    close_at:''
                },
                amenity:{
                    name: '',
                    code: '',
                    open_at:'',
                    close_at:'',
                    description: 'Description of your amenity...',
                },
                editor: ClassicEditor,
                editorConfig: {
                    toolbar: ['heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote'],
                    heading: {
                        options: [
                            {model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph'},
                            {model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1'},
                            {model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2'}
                        ]
                    },
                }
            }
        },
        methods: {
            async createAmenity() {
                eventBus.$emit('showLoader',true)
                this.$store.dispatch('createAmenity', {
                    building_id: this.building_id,
                    name: this.amenity.name,
                    code: this.amenity.code,
                    open_at: this.amenity.open_at,
                    close_at: this.amenity.close_at,
                    description: this.amenity.description,
                }).then(response => {
                    eventBus.$emit('showLoader',false)
                    this.$swal(
                        {
                            title: 'Created',
                            text: 'Amenity of building was created.',
                            icon: 'success',
                            showConfirmButton: false,
                            timer: 1500
                        }
                    )
                    this.$emit("closeModal")
                }).catch(error => {
                    eventBus.$emit('showLoader',false)
                    this.errors.name = error.response.data.errors.name
                    this.errors.code = error.response.data.errors.code
                    this.errors.open_at = error.response.data.errors.open_at
                    this.errors.close_at = error.response.data.errors.close_at
                    this.errors.description = error.response.data.errors.description
                });
            },
        }
    }
</script>

<style scoped>

</style>