<template>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div id="create_building_amenity_form" class="col-12">
                <form  id="building_create" class="mx-auto" action="#" @submit.prevent="updateAmenity">
                    <p class="h4 text-center mb-4" id="login_title">Update amenity</p>
                        <input type="text" id="amenity_name" name="amenity_name" class="form-control" placeholder="Name" v-model="amenity.name"/>
                        <input type="text" id="amenity_code" name="amenity_code" class="form-control" placeholder="code" v-model="amenity.code"/>
                        <vue-timepicker format="hh:mm A" v-model="amenity.open_at"></vue-timepicker>
                        <vue-timepicker format="hh:mm A" v-model="amenity.close_at"></vue-timepicker>
                        <ckeditor   class="form-control" id="description" :editor="editor" placeholder="Type the content here!" v-model="amenity.description"></ckeditor>
                    <div class="text-center mt-4">
                        <button class="btn button_buildings" type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import VueTimepicker from 'vue2-timepicker/src'
    import CKEditor from '@ckeditor/ckeditor5-vue';
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    export default {
        name: "AmenityBuildingCreate",
        components: {VueTimepicker, ckeditor: CKEditor.component,},
        props: {
            building_id:'',
            amenity:{
                name: '',
                code: '',
                open_at:'',
                close_at:'',
                description: 'Description of your building...',
            },
        },
        data() {
            return {

                editor: ClassicEditor,
                editorConfig: {
                    toolbar: ['heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote'],
                    heading: {
                        options: [
                            {model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph'},
                            {model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1'},
                            {model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2'}
                        ]
                    },
                }
            }
        },
        methods: {
            updateAmenity() {
                this.$emit('updateAmenity', this.amenity)
            },
        }
    }
</script>

<style scoped>

</style>