<template>
    <div class="container">
        <div class="row">
            <div class="container_buildings col-12">
                <back></back>
                <h1 class="titles">My Buildings Amenities</h1>
                <div class="container_create_new" v-b-modal.modal-new-amenity>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </div>
                <b-modal ref='modal_create' id="modal-new-amenity" size="xl" title="Create new Amenity" hide-footer>
                    <amenity-building-create :building_id="building_id" @closeModal="closeModal"></amenity-building-create>
                </b-modal>
                <div v-for="(amenity,index)  in amenities.data" :key="amenity.id" :amenity="amenity" :index="index">
                    <div class="row col-12">
                        <div class="col-3">{{amenity.name}}</div>
                        <div class="col-3">{{amenity.code}}</div>
                        <div class="col-4" v-html="amenity.description.substring(0,18)+'...'"></div>
                        <div class="col-2">
                            <span class="edit_build" v-b-modal="'modal-edit-amenity'" @click="setAmenity(amenity)">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                 </svg>
                            </span>
                            <span class="remove_build" @click="removeAmenity(amenity.id)">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                   <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                   <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </span>
                        </div>
                    </div>
                    <div class="col"><hr></div>
                </div>
                <b-modal ref='modal_update' size="xl" id="modal-edit-amenity" :title="'Update: ' + amenity.name" hide-footer>
                    <amenity-building-edit @updateAmenity="updateAmenity" :building_id="building_id"  :amenity="amenity"></amenity-building-edit>
                </b-modal>
            </div>
            <div class="container">
                <div class="container_pagination">
                    <pagination v-if="amenities" class="justify-content-center" :data="amenities" @pagination-change-page="getAmenityBuilding($event)">
                       <span class="pagination_arrows" slot="prev-nav">
                           <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                           </svg>
                       </span>
                        <span class="pagination_arrows" slot="next-nav">
                           <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                               <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                           </svg>
                       </span>
                    </pagination>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import pagination from 'laravel-vue-pagination';
    import CKEditor from '@ckeditor/ckeditor5-vue';
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    import AmenityBuildingEdit from "@/components/amenity/AmenityBuildingEdit";
    import AmenityBuildingCreate from "@/components/amenity/AmenityBuildingCreate";
    import Back from "../global/back";
    export default {
        name: "AmenityBuildingAll",
        components: {AmenityBuildingCreate, AmenityBuildingEdit, CKEditor, pagination, Back},
        data() {
            return {
                amenities:'',
                amenity:{},
                building_id:'',
                editor: ClassicEditor,
                editorConfig: {
                    toolbar: ['heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote'],
                    heading: {
                        options: [
                            {model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph'},
                            {model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1'},
                            {model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2'}
                        ]
                    },
                }
            }
        },
        methods:{
            async getAmenityBuilding(page=1){
                this.$store.dispatch('getAmenityBuilding',{
                    building_id: this.building_id,
                    page:page
                })
                    .then(response => {
                        this.amenities = response.data
                    }).catch(error => {
                });
            },
            removeAmenity(id){
                this.$swal({
                    title: 'Are you sure to remove this amenity building?',
                    text:  'You will not be able to reverse this action!',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete!',
                    cancelButtonText: 'No, cancel!',
                }).then((result) => {
                    if (result.value) {
                        this.$store.dispatch('remove', {
                            id: id,
                            url: '/remove_amenity/'
                        }).then(response => {
                            this.getAmenityBuilding()
                            this.$swal(
                                {
                                    title: 'Deleted!',
                                    text: 'A amenity building was removed.',
                                    icon: 'error',
                                    showConfirmButton: false,
                                    timer: 1500
                                }
                            )
                        })
                    }
                })
            },
            updateAmenity(amenity){
                eventBus.$emit('showLoader',true)
                this.$store.dispatch('updateAmenityBuilding', {
                    id: amenity.id,
                    name: amenity.name,
                    code: amenity.code,
                    description: amenity.description,
                    open_at: amenity.open_at,
                    close_at: amenity.close_at,
                })
                    .then(response => {

                        this.$swal({
                            title: 'The amenity was successfully updated.',
                            icon: 'success',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        this.$refs["modal_update"].hide()
                        eventBus.$emit('showLoader',false)
                    }).catch(error => {
                });
            },
            closeModal(){
                this.getAmenityBuilding()
                this.$refs["modal_create"].hide()
            },
            setAmenity(amenity){
                this.amenity = amenity
            }
        },
        created() {
            this.building_id = this.$route.params.id;
        },
        mounted(){
            this.getAmenityBuilding()
        }
    }
</script>

<style scoped>

</style>