<template>
    <div class="container hv100_nav">
        <loader v-if="loader"></loader>
        <div class="row h-100 justify-content-center align-items-center hv100_nav">
            <div id="create_building_form" class="col-12 col-md-8">
                <back v-if="$route.name === 'BuildingCreate'"></back>
                <h1 class="text-center mb-4" id="login_title">Create your new building</h1>
                <div class="form-group row">
                    <div class="container_create_new " v-b-modal.modal-add-images>
                        <span>Add images</span>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                    </div>
                <small v-if="errors.images" class="text-danger error_images">{{errors.images.toString()}}</small>
                </div>
                <form  id="building_create" class="mx-auto" action="#" @submit.prevent="createBuilding">
                    <div class="form-group">
                        <input type="text" id="building_name" name="building_name" class="form-control" placeholder="Name" v-model="building.name"/>
                        <small v-if="errors.name" class="text-danger">{{errors.name.toString()}}</small>
                    </div>
                    <div class="form-group">
                        <input type="text" id="building_address" name="building_address" class="form-control" placeholder="Address" v-model="building.address"/>
                        <small v-if="errors.address" class="text-danger">{{errors.address.toString()}}</small>
                    </div>
                    <div class="form-group">
                        <category-all-s @getCategoryData="getCategoryData"></category-all-s>
                    </div>
                    <div class="form-group">
                        <ckeditor   class="form-control" id="description" :editor="editor" placeholder="Type the content here!" v-model="building.description"></ckeditor>
                        <small v-if="errors.description" class="text-danger">{{errors.description.toString()}}</small>
                    </div>

                    <div class="text-center mt-4">
                        <button class="btn button_buildings" type="submit">Create</button>
                    </div>
                </form>
                <b-modal ref='modal_add_images' id="modal-add-images" size="xl" title="Create new Building" no-close-on-backdrop hide-footer>
                    <multiple-upload-file @getImagesForUpload="getImagesForUpload" :parentImages="images" :maxImages="5" keep-alive></multiple-upload-file>
                </b-modal>
            </div>
        </div>
    </div>
</template>

<script>
    import CategoryAllS from '@/components/global/select/CategoryAllSelect'
    import MultipleUploadFile from '@/components/global/MultipleUploadFile'
    import CKEditor from '@ckeditor/ckeditor5-vue';
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    import Multiselect from 'vue-bootstrap-multiselect';
    import Back from "../global/back";
    import Loader from '@/components/global/loader';

    export default {
        name: "BuildingCreate",
        components: { Multiselect, CategoryAllS,MultipleUploadFile,  ckeditor: CKEditor.component,Back,Loader},

        props: {
        },
        data() {
            return {
                images:[],
                loader:false,
                building:{
                    name: '',
                    address: '',
                    description: 'Description of your building...',
                    categories:''
                },
                errors:{
                    name: '',
                    address: '',
                    description: '',
                    images: '',
                },
                editor: ClassicEditor,
                editorConfig: {
                    toolbar: ['heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote'],
                    heading: {
                        options: [
                            {model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph'},
                            {model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1'},
                            {model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2'}
                        ]
                    },
                }
            }
        },
        methods: {
            createBuilding() {
                this.loader= true
                this.$store.dispatch('createBuilding', {
                    name: this.building.name,
                    address: this.building.address,
                    description: this.building.description,
                    categories: this.building.categories,
                    images:this.images
                }).then(response => {
                    this.$emit("closeModal")
                    this.loader= false
                    if(this.$router.currentRoute.name !== 'BuildingAll'){
                        this.$router.push({name: 'BuildingAll'})
                    }
                }).catch(error => {
                    this.loader= false
                    this.errors.name = error.response.data.errors.name
                    this.errors.address = error.response.data.errors.address
                    this.errors.images = error.response.data.errors.images
                    this.errors.description = error.response.data.errors.description
                });
            },
            getCategoryData(cats){
                this.building.categories = cats
            },
            getImagesForUpload(images){
                this.images = images
                this.$refs['modal_add_images'].hide()
            },
        }
    }
</script>

<style scoped>
    .error_images{
        text-align: left;
        width: 100%;
        padding-left: 15px;
    }
</style>