<template>
    <div class="container mt-5">
        <div class="row">
            <div class="container_buildings col-12 ">
               <back></back>
                <h1 class="titles">My Buildings</h1>
                <div class="container_create_new" v-b-modal.modal-new-building>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </div>
                <b-modal ref='modal_create' id="modal-new-building" size="xl" title="Create new Building" hide-footer>
                    <building-create @closeModal="closeModal"></building-create>
                </b-modal>
                <div v-for="(building,index)  in buildings.data" :key="building.id" :building="building" :index="index">
                    <div class="row col-12 p-0 m-0">
                        <div class="container_link col-8 row">
                            <div class="col-6 col-sm-6 col-8">{{building.name}}</div>
                            <div class="col-6 col-sm-6 col-4">
                                <template v-for="building_image in building.images" >
                                    <img style="max-width: 30px" :src="base_url+'uploads/'+building_image.url" :alt="building_image.name">
                                </template>
                            </div>
                        </div>
                        <div class="col-4 p-0" @click.prevent>
                            <ul :id="'menu_'+building.id" class="list-inline circle_menu">
                                <li class="list-inline-item"><router-link :to="'/building-amenities/'+building.id">Amenity</router-link></li>
                                <li class="list-inline-item"><router-link :to="'/floors-building/'+building.id">Floors</router-link></li>
                                <li class="list-inline-item"  @click="countCurrentImages(building)">
                                    <span class="edit_build" >
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                        </svg>
                                    </span>
                                </li>
                                <li class="list-inline-item" @click="removeBuilding(building.id)">
                                    <span class="remove_build" >
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                           <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                           <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                        </svg>
                                    </span>
                                </li>
                            </ul>
                           
                        </div>
                    </div>
                    <b-modal size="xl" :ref="'modal_edit_building_'+ building.id" :id="'modal_edit_building_'+ building.id" :title="'Update: ' + building.name"  :cancel-title="'Cancel'" :ok-title="'Update'" @ok="(updateBuilding(building))">
                        <form  id="building_update" class="mx-auto" action="#">
                            <p class="h4 text-center mb-4" id="login_title">Update your new building</p>
                            <div class="btn btn-xs button_buildings add_images_building mb-2" @click="openModalImagesUpload(building)" >Add new images</div>
                            <div class="h5">Current building images</div>
                            <table class="table col-12">
                                <thead >
                                <tr>
                                    <th scope="col">Image</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr  v-if="building.images" v-for="(building_image,index)  in building.images" :key="building_image.id" :building_image="building_image" :index="index">
                                    <td><img style="max-width: 100px" :src="base_url+'uploads/'+building_image.url" :alt="building_image.name"></td>
                                    <td><span class="remove_build" @click="removeImageBuilding(building_image.id,building,index)">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                        </svg>
                                    </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="h5"  v-if="images.length > 0">New images</div>
                            <table class="table col-12 "  v-if="images.length > 0">
                                <thead >
                                <tr>
                                    <th scope="col">Image</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="" v-for="(image,index) in images"  :index="index">
                                    <td><img width="100px" :src="image.image"></td>
                                    <td><span class="remove_build" @click="removeImage(index)">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                    </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="form-group">
                                <div class="container_select">
                                    <label class="typo__label">Select a category</label>
                                    <multiselect v-model="building.categories" deselect-label="Can't add this value" :multiple="true" track-by="name" label="name" placeholder="Select one" @input="onChange($event)" :options="categories" :searchable="true" :allow-empty="false">
                                        <template slot="singleLabel" slot-scope="{ name }"><strong>{{ building.categories.id }}</strong> is written in<strong>  {{ building.categories.name }}</strong></template>
                                    </multiselect>
                                </div>
                            </div>
                            <input type="text" id="building_name" name="building_name" class="form-control" placeholder="Name" v-model="building.name"/>
                            <input type="text" id="building_address" name="building_address" class="form-control" placeholder="Address" v-model="building.address"/>
                            <ckeditor   class="form-control" id="description" :editor="editor" placeholder="Type the content here!" v-model="building.description"></ckeditor>
                        </form>
                    </b-modal>
                    <div class="col"><hr></div>
                </div>
                <b-modal size="xl" ref="modal-update-images-building" id="modal-update-images-building" hide-footer>
                    <multiple-upload-file @getImagesForUpload="getImagesForUpload" :parentImages="images" :maxImages="5-count_current_images" keep-alive></multiple-upload-file>
                </b-modal>
            </div>
            <div class="container">
                <div class="container_pagination">
                    <pagination v-if="buildings" class="justify-content-center" :data="buildings" @pagination-change-page="getBuildings($event)">
                        <span class="pagination_arrows" slot="prev-nav">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                            </svg>
                        </span>
                        <span class="pagination_arrows" slot="next-nav">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                            </svg>
                        </span>
                    </pagination>
                 </div>
            </div>
        </div>
    </div>
</template>

<script>
    import pagination from 'laravel-vue-pagination';
    import BuildingCreate from '@/components/building/BuildingCreate'
    import CKEditor from '@ckeditor/ckeditor5-vue';
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    import MultipleUploadFile from '@/components/global/MultipleUploadFile'
    import CategoryAllS from '@/components/global/select/CategoryAllSelect'
    import Multiselect from 'vue-multiselect'
    import Back from "../global/back";

    export default {
        name: "BuildingAll",
        components: {
            Back,
            BuildingCreate,  ckeditor: CKEditor.component, pagination, MultipleUploadFile, CategoryAllS, Multiselect},
        props:{
            base_url:'',
        },
        data() {
            return {
                buildings:'',
                images:[],
                count_current_images:'',
                categories:'',
                editor: ClassicEditor,
                editorConfig: {
                    toolbar: ['heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote'],
                    heading: {
                        options: [
                            {model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph'},
                            {model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1'},
                            {model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2'}
                        ]
                    },
                }
            }
        },
        methods:{
            async getBuildings(page=1){
                eventBus.$emit('showLoader',true)
                this.$store.dispatch('getBuildings',{
                    page:page
                })
                    .then(response => {
                        this.buildings = response.data
                        eventBus.$emit('showLoader',false)
                    }).catch(error => {
                });
            },
            updateBuilding(building){
                eventBus.$emit('showLoader',true)
                this.$store.dispatch('updateBuilding', {
                    id: building.id,
                    name: building.name,
                    address: building.address,
                    description: building.description,
                    categories: building.categories,
                    images: (this.images) ? this.images : '',
                })
                    .then(response => {
                        this.getBuildings()
                        eventBus.$emit('showLoader',false)
                        this.images= []
                        this.$swal({
                            title: 'The building was successfully updated.',
                            icon: 'success',
                            showConfirmButton: false,
                            timer: 1500
                        })
                    }).catch(error => {
                        eventBus.$emit('showLoader',false)
                        this.$swal({
                            title: 'The building could not be updated, please try again.',
                            icon: 'error',
                            showConfirmButton: false,
                            timer: 1500
                        })
                });
            },
            removeBuilding(id){
                this.$swal({
                    title: 'Are you sure to remove this building?',
                    text:  'You will not be able to reverse this action!',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete!',
                    cancelButtonText: 'No, cancel!',
                }).then((result) => {
                    if (result.value) {
                        this.$store.dispatch('remove', {
                            id: id,
                            url: '/remove_building/'
                        }).then(response => {
                            this.getBuildings()
                            this.$swal(
                                {
                                    title: 'Deleted!',
                                    text: 'A building was removed.',
                                    icon: 'error',
                                    showConfirmButton: false,
                                    timer: 1500
                                }
                            )
                        })
                    }
                })

            },
            removeImageBuilding(id,building,index){
                this.$swal({
                    title: 'Are you sure to remove this image building?',
                    text:  'You will not be able to reverse this action!',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete!',
                    cancelButtonText: 'No, cancel!',
                }).then((result) => {
                    if (result.value) {
                        this.$store.dispatch('remove', {
                            id: id,
                            url: '/remove_image_building/'
                        }).then(response => {
                            building.images.splice(index,1)
                            this.getBuildings()
                            this.$swal(
                                {
                                    title: 'Deleted!',
                                    text: 'A image building was removed.',
                                    icon: 'error',
                                    showConfirmButton: false,
                                    timer: 1500
                                }
                            )
                        }).catch(error => {
                            eventBus.$emit('showLoader',false)
                            this.$swal(
                                {
                                    title: 'Deleted!',
                                    text: error.response.data,
                                    icon: 'error',
                                    showConfirmButton: false,
                                    timer: 1500
                                }
                            )
                        });
                    }
                })
            },
            removeImage(index){
                this.images.splice(index,1)

            },
            closeModal(){
                this.getBuildings()
                this.$refs["modal_create"].hide()
                this.$swal({
                    title: 'The building was successfully created.',
                    icon: 'success',
                    showConfirmButton: false,
                    timer: 1500
                })
            },
            getCategoryData(cats){
                this.categories = cats
            },
            getImagesForUpload(images){
                this.images = images
                this.$refs['modal-update-images-building'].hide()


            },
            async getAllCategories(){
                this.$store.dispatch('getAllCategories')
                    .then(response => {
                        this.categories = response.data
                    }).catch(error => {

                });
            },
            countCurrentImages(building){
                this.count_current_images = building.images.length
                //    if(this.count_current_images > 0 ){
                    this.$refs['modal_edit_building_'+building.id][0].show()
                //  }
            },
            openModalImagesUpload(building){
                this.count_current_images = building.images.length
                this.$refs['modal-update-images-building'].show()

            },
            onChange(e){
            },
        },
        mounted(){
            this.getAllCategories()
            this.getBuildings()
        }
    }
</script>

<style scoped lang="scss">
.circle_menu{

    position: relative;
    width: 100%;
    height: auto;
    border-radius: 50%;
    transition: 0.3s;

    li:nth-child(1){

        position: relative;
        width: 35px;
        height: 35px;
        overflow: hidden;
        background: #ffffff;
        border-radius: 50%;
        color: #006cb0;
        transition: 0.3s;
        font-size: 15px;
        padding-top: 5px;
        cursor: pointer;
        border: 1px solid #006cb0;
        a{
            margin-left: 12.5px;
            width: 9.5px;
            overflow: hidden;
            display: block;
            color: #006cb0;
            text-decoration: none;
            z-index: 1;
        }
        &.show_link{

        }
        &:hover{
            background: #006cb0;
            border: 1px solid #ffffff;
            width: auto;
            color: #ffffff;
            border-radius: 25px;
            padding-left:10px ;
            padding-right:10px ;
        }
        &:hover > a{
            width: 100%;
            margin-left: 0;
            color: #ffffff;
            text-decoration: none;
        }
    }
    li:nth-child(2){

        position: relative;
        width: 35px;
        height: 35px;
        overflow: hidden;
        background: #fff;
        border-radius: 50%;
        color: #006cb0;
        transition: 0.3s;
        font-size: 15px;
        padding-top: 5px;
        cursor: pointer;
        border: 1px solid #006cb0;
        a{
            margin-left: 13.5px;
            width: 8px;
            overflow: hidden;
            display: block;
            color: #006cb0;
            text-decoration: none;
            z-index: 1;
        }
        &.show_link{

        }
        &:hover{
            background: #006cb0;
            border: 1px solid #ffffff;
            width: auto;
            color: #ffffff;
            border-radius: 25px;
            padding-left:10px ;
            padding-right:10px ;
        }
        &:hover > a{
            width: 100%;
            margin-left: 0;
            color: #ffffff;
            text-decoration: none;
        }
    }

    li:nth-child(3){
        position: relative;
        width: 35px;
        height: 35px;
        overflow: hidden;
        background: #006cb0;
        border-radius: 50%;
        color: #fff;
        transition: 0.3s;
        font-size: 15px;
        padding-top: 5px;
        cursor: pointer;
        span{
            width: 15px;
            overflow: hidden;
            display: block;
            margin: 0 auto;

        }
        &.show_link{

        }
        &:hover{
            background: #ffffff;
            border: 1px solid #006cb0;
            color: #006cb0;
        }

    }
    li:nth-child(4){
        position: relative;
        width: 35px;
        height: 35px;
        overflow: hidden;
        background: #006cb0;
        border-radius: 50%;
        color: #fff;
        transition: 0.3s;
        font-size: 15px;
        padding-top: 5px;
        cursor: pointer;
        span{
            width: 15px;
            overflow: hidden;
            display: block;
            margin: 0 auto;

        }
        &.show_link{

        }
        &:hover{
            background: #ffffff;
            border: 1px solid #006cb0;
            color: #006cb0;
        }
    }
}
    .add_images_building{
        font-size: 12px;
    }
</style>