<template>
    <div class="container mt-5">
        <div class="row">
        </div>
    </div>
</template>

<script>
    export default {
        name: "Dashboard",
        props:{
            user:''
        },
        created(){
            if(this.user.roles[0].name === 'admin'){
                this.$router.push({ name: 'UserAll' })
            }else{
                this.$router.push({ name: 'BuildingAll' })
            }
        }
    }
</script>

<style scoped>

</style>