<template>
    <div class="container h-100 ">
        <h1 class="titles" id="login_title">New Category</h1>
        <div id="create_building_form" class="col-12">
            <form ref="categoryCreate"  id="category_create" class="mx-auto" action="#"  autocomplete="off"  @submit.prevent="createCategory">
                <div class="form-group">
                    <input type="text" id="building_name" name="building_name" class="form-control" placeholder="Name Category" v-model="category.name"/>
                    <small v-if="errors.name" class="text-danger">{{errors.name.toString()}}</small>
                </div>
                <div class="form-group">
                    <upload-file ref="upload" :title="title" :type="type" :model_name="model_name" @assignFileName="assignFileName" :id="category_id"></upload-file>
                    <small v-if="errors.avatar" class="text-danger">{{errors.avatar.toString()}}</small>
                </div>
                <div class="form-gropu">
                    <ckeditor   class="form-control" id="description" :editor="editor" placeholder="Type the content here!" v-model="category.description"></ckeditor>
                </div>
                <div class="text-center mt-4">
                    <button class="btn button_buildings" type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import pagination from 'laravel-vue-pagination';
    import CKEditor from '@ckeditor/ckeditor5-vue';
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    import UploadFile from '@/components/global/UploadFile'

    function initialState (){
        return {
            title:'Category Image',
            type:'/admin/category/',
            model_name:'category',
            category_id:'',
            category:{
                name:'',
                description: 'Description of your category...',
                avatar:'',
                image_name:''

            },
            errors:{
                name:'',
                avatar:'',

            },
            editor: ClassicEditor,
            editorConfig: {
                toolbar: ['heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote'],
                heading: {
                    options: [
                        {model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph'},
                        {model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1'},
                        {model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2'}
                    ]
                },
            }
        }
    }
    export default {
        name: "CategoryCreate",
        components:{ckeditor: CKEditor.component,UploadFile, pagination},
        data(){
            return initialState()
        },
        methods: {
            createCategory() {
                this.$store.dispatch('createCategory', {
                    name: this.category.name,
                    description: this.category.description,
                    avatar: this.category.image_name,
                    image_name:this.category.image_name,
                }).then(response => {
                    this.category_id = response.data.id
                    if(this.category_id) {
                        this.$refs.upload.uploadFile(this.category_id)
                    }
                    this.$swal({
                        title: 'The category was successfully created.',
                        icon: 'success',
                        showConfirmButton: false,
                        timer: 2500
                    })
                    Object.assign(this.$data, initialState());
                    window.scrollTo(0,0);
                    setTimeout(() =>  this.$emit('getCategories'), 1000);
                }).catch(error => {
                    this.errors.name = error.response.data.errors.name
                    this.errors.avatar = error.response.data.errors.avatar
                });


            },
            assignFileName(file){
                var reader = new FileReader();
                reader.onloadend = (e) => {
                    this.category.image = e.target.result;
                };
                this.category.image = reader.readAsDataURL(file[0]);
                this.category.image_name = file[1];
            }
        }
    }
</script>

<style scoped>

</style>