<template>
    <div class="container hv100_nav mt-5" v-if="user.roles[0].name === 'admin'">
        <div class="row  ">
            <div class="col-md-6 col-sm-12">
                <category-create @getCategories="getCategories"></category-create>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="row">
                    <div class="container_categories col-12">
                        <loader v-if="loader"></loader>
                        <h1 class="titles">Categories</h1>
                        <div v-for="(category,index)  in categories.data" :key="category.id" :category="category" :index="index">
                            <div class="row col-12">
                                <div class="col col-sm-4">{{category.name}}</div>
                                <div class="col col-sm-4"><img class="category_img" v-if="category.avatar" :src="base_url+'uploads/admin/category/'+category.id+'/'+category.avatar" :alt="category.avatar"></div>
                                <div class="col">
                                    <span class="edit_build" v-b-modal="'modal_edit_category_'+ category.id">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                        </svg>
                                    </span>
                                    <span class="remove_build" @click="removeCategory(category.id)">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                           <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                           <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                            <b-modal :id="'modal_edit_category_'+ category.id" :title="'Update: ' + category.name"  :cancel-title="'Cancel'" :ok-title="'Update'" @ok="(updateCategory(category))">
                                <form  id="building_update" class="mx-auto" action="#">
                                    <p class="h4 text-center mb-4" id="login_title">Create your new category</p>
                                    <input type="text" id="building_name" name="category_name" class="form-control" placeholder="Name" v-model="category.name"/>
                                    <ckeditor  maxlength="50" class="form-control" id="description" :editor="editor" placeholder="Type the content here!" v-model="category.description"></ckeditor>
                                </form>
                            </b-modal>
                            <div class="col"><hr></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="container_pagination">
                            <pagination v-if="categories" class="justify-content-center" :data="categories" @pagination-change-page="getCategories($event)">
                                    <span class="pagination_arrows" slot="prev-nav">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                                        </svg>
                                    </span>
                                <span class="pagination_arrows" slot="next-nav">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                        </svg>
                                    </span>
                            </pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import CategoryCreate from '@/components/admin/category/CategoryCreate'
    import pagination from 'laravel-vue-pagination';
    import CKEditor from '@ckeditor/ckeditor5-vue';
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    import Loader from '@/components/global/loader';
    export default {
        name: "CategoryAll",
        components:{CategoryCreate,ckeditor: CKEditor.component,pagination,Loader},
        props:{
            base_url:'',
            user:''
        },
        data(){
            return{
                loader:false,
                categories:{},
                editor: ClassicEditor,
                editorConfig: {
                    toolbar: ['heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote'],
                    heading: {
                        options: [
                            {model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph'},
                            {model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1'},
                            {model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2'}
                        ]
                    },
                }
            }
        },
        methods:{
            async getCategories(page=1){
                this.loader=true
                    this.$store.dispatch('getCategories',{
                    page:page
                })
                    .then(response => {
                        this.categories = response.data
                        this.loader=false
                    }).catch(error => {
                });
            },
            updateCategory(category){
                this.$store.dispatch('updateCategory', {
                    id: category.id,
                    name: category.name,
                    description: category.description,
                })
                    .then(response => {
                        this.$swal({
                            title: 'The Category was successfully updated.',
                            icon: 'success',
                            showConfirmButton: false,
                            timer: 1500

                        })
                    }).catch(error => {
                });
            },
            removeCategory(id){
                this.$swal({
                    title: 'Are you sure to remove this category?',
                    text:  'You will not be able to reverse this action!',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete!',
                    cancelButtonText: 'No, cancel!',
                }).then((result) => {
                    if (result.value) {
                        this.$store.dispatch('remove', {
                            id: id,
                            url: '/remove_category/'
                        }).then(response => {
                            this.getCategories()
                            this.$swal(
                                {
                                    title: 'Deleted!',
                                    text: 'A category was removed.',
                                    icon: 'error',
                                    showConfirmButton: false,
                                    timer: 1500
                                }
                            )
                        })
                    }
                })

            },
        },
        mounted(){
            this.getCategories()
        }
    }
</script>

<style scoped>
.category_img{
    max-width: 50px;
    max-height: 50%;
}
</style>