<template>
    <div class="container hv100_nav">
        <div class="row  justify-content-center align-items-center hv100_nav">
            <div id="login_form" class="container_form">
                <form id="" class="mx-auto" action="#" @submit.prevent="login" autocomplete="off">
                    <h1 class="text-center mb-4 titles" id="login_title">Sign in to My Building</h1>

                    <input readonly="readonly" onfocus="this.removeAttribute('readonly');" type="email" id="email" name="username" class="form-control" placeholder="Email" v-model="username"/>

                    <input type="password" id="password" name="password" class="form-control" placeholder="password" v-model="password"/>

                    <div class="text-center mt-4">
                        <button class="btn button_public_form" type="submit">Log in</button>
                    </div>
                </form>
                <span class="footer_form">New in My Building? <router-link   :to="{name:'Register'}" class="text-white" > Create an account.</router-link></span>
                <div class="footer_form"><router-link   :to="{name:'reset-password'}" class="text-white" >Did you forget your password?</router-link></div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Login",
        data() {
            return {
                username: '',
                password: '',
            }
        },
        methods: {
            login() {
                this.$store.dispatch('retrieveToken', {
                    username: this.username,
                    password: this.password,
                }).then(response => {
                    this.$router.push({
                      name: 'Dashboard'
                    });
                    this.$swal(
                        {
                            title: 'Welcome To My Buildings!',
                            icon: 'success',
                            showConfirmButton: false,
                            timer: 2500
                        }
                    )
                }).catch(error => {
                    this.$swal(
                        {
                            title: 'Wrong user or password!',
                            text: 'Please try again.',
                            icon: 'error',
                            showConfirmButton: false,
                            timer: 1500
                        }
                    )
                })
            },
        }
    }
</script>

<style lang="scss">

</style>