<template>
    <div class="container hv100_nav">
        <div class="row justify-content-center align-items-center hv100_nav">
            <div id="register_form" class="container_form">
                <form id="" class="mx-auto" action="#" @submit.prevent="register">
                    <h1 class="text-center mb-4 titles" id="login_title">Create your account</h1>
                    <div class="form-group">
                        <input type="text" id="name" name="name" class="form-control" placeholder="Name" v-model="name"/>
                        <small v-if="errors.name" class="text-white">{{errors.name.toString()}}</small>
                    </div>
                    <div class="form-group">
                        <input type="email" id="email" name="email" class="form-control" placeholder="Email" v-model="email" readonly="readonly" onfocus="this.removeAttribute('readonly');"/>
                        <small v-if="errors.email" class="text-white">{{errors.email.toString()}}</small>
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password" v-model="password"/>
                        <small v-if="errors.password" class="text-white">{{errors.password.toString()}}</small>
                    </div>
                    <div class="form-group">
                        <input type="password" id="password_confirmation" name="password" class="form-control" placeholder="Password confirmation" v-model="password_confirmation"/>
                        <small v-if="errors.password_confirmation" class="text-white">{{errors.password_confirmation.toString()}}</small>
                    </div>
                    <div class="text-center mt-4">
                        <button class="btn button_public_form" type="submit">Sign up</button>
                    </div>
                </form>
                <span class="footer_form">If you have an account. <router-link   :to="{name:'Login'}" class="text-white"> Sign in</router-link></span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Register",
        data() {
            return {
                email: '',
                name: '',
                password: '',
                password_confirmation:'',
                errors:{
                    email: '',
                    name: '',
                    password: '',
                }
            }
        },
        methods: {
            register(event) {
                this.$store.dispatch('register', {
                    email: this.email,
                    name: this.name,
                    password: this.password,
                    password_confirmation: this.password_confirmation,
                }).then(response => {
                    this.$router.push({name: 'Login'})
                    this.$swal(
                        {
                            title: 'Now you can login!',
                            icon: 'success',
                            showConfirmButton: false,
                            timer: 2500
                        }
                    )
                }).catch(error => {
                    this.errors.name = error.response.data.errors.name
                    this.errors.email = error.response.data.errors.email
                    this.errors.password = error.response.data.errors.password
                });


            },
        }

    }
</script>

<style >
 small.text-white{
    max-width: 75%!important;
    margin: 35px auto!important;
     display: block;
}
</style>