<template>
    <div class="container">
        <div class="row">
            <h1 class="title col-12 text-center mb-5">Multiple Upload Images</h1>
            <div class="row col-12 container_cut_images">
                <div class="upload-building-cropper col-sm-12 col-md-12 col-12">
                    <div class="col-12">
                        <div class="button-wrapper row" >
                            <span class="button_container btn button_buildings" @click="$refs.file.click()">
                                <input  type="file" ref="file" @change="addFile($event)" accept="image/*">
                                Upload an image
                            </span>
                        </div>
                    </div>
                    <div class="col-12">
                        <button  ref="btn_upload" class="btn button_buildings button_finish" @click="sendImages">Finish</button>
                    </div>
                </div>
                <div class="container_crooper col-sm-12 col-md-12 col-12">
                    <Cropper
                            classname="crooper-container"
                            :src="image" ref="cropper"
                            :resize="resize"
                            :restrictions="pixelsRestriction"
                            :maxHeight="960"
                            :maxWidth="1600"
                            :stencil-props="{
                              handlers: {
                                eastNorth: true,
                                north: true,
                                westNorth: true,
                                west: true,
                                westSouth: true,
                                south: true,
                                eastSouth: true,
                                east: true,
                              },
                              movable: true,
                              scalable: true,
                              aspectRatio: 16/9,
                             }"
                    />
                    <div v-if="image" @click="crop" class="btn button_buildings button_cut">Cut</div>
                </div>
            </div>
            <table class="table col-12 " v-if="images.length > 0">
                <thead >
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr class="" v-for="(image,index) in images"  :index="index">
                    <td><img width="100px" :src="image.image"></td>
                    <td><span class="remove_build" @click="removeImage(index)">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                        </span>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import { Cropper } from 'vue-advanced-cropper'
    export default {
        name: "MultipleUploadFile",
        components: {Cropper},
        props:{
            parentImages:'',
            maxImages:''
        },
        data(){
            return {
                image:'',
                images:this.parentImages,
                images_length:'',
                coordinates: {
                    width: 0,
                    height: 0,
                    left: 0,
                    top: 0,
                },
            }
        },
        methods:{
            addFile(event){
                var input = event.target;
                // Reference to the DOM input element
                if(this.images.length < this.maxImages) {
                    if ((input.files[0].size / 1024) < 2000) {
                        this.image_name = Date.now() + '_' + input.files[0].name
                        // Ensure that you have a file before attempting to read it
                        if (input.files && input.files[0]) {
                            // create a new FileReader to read this image and convert to base64 format
                            var reader = new FileReader();
                            // Define a callback function to run, when FileReader finishes its job
                            reader.onload = (e) => {
                                // Note: arrow function used here, so that "this.imageData" refers to the imageData of Vue component
                                // Read image as base64 and set to imageData
                                this.image = e.target.result;
                            }
                            // Start the reader job - read file as a data url (base64 format)
                            this.image = reader.readAsDataURL(input.files[0]);
                        }
                    } else {
                        this.$swal({
                            title: 'Image large than 2Mb',
                            text: 'Image size too big',
                            type: 'info',
                            confirmButtonColor: '#006cb0'
                        })
                    }
                }else{
                    this.$swal({
                        title: 'Maximum number of images: 5',
                        type: 'info',
                        confirmButtonColor: '#006cb0'
                    })
                }
            },
            pixelsRestriction({minWidth, minHeight, maxWidth, maxHeight, imageWidth, imageHeight}) {
                return {
                    minWidth: minWidth,
                    minHeight: minHeight,
                    maxWidth: Math.min(imageWidth, maxWidth),
                    maxHeight: Math.min(imageHeight, maxHeight),
                }
            },
            crop() {
                const {coordinates, canvas} = this.$refs.cropper.getResult()
                this.coordinates = coordinates
                const image = new Image();
                image.src = canvas.toDataURL();
                this.images.push({image: canvas.toDataURL(),image_name: this.image_name})
                this.image = null
            },
            resize(width, height, left, top) {
                this.$refs.cropper.setCoordinates({
                    width: width,
                    height: height,
                    left: left,
                    top: top
                })
            },
            removeImage(index){
                this.images.splice(index,1)

            },
            sendImages(){
                this.$emit('getImagesForUpload',this.images)
            }
        },
    }
</script>

<style lang="scss">
    .crooper-container{
        width: 100%;
        max-height: 400px;
    }
    .upload-building-cropper{
        width: 100%;
        margin: 20px auto;
        display: block;
        .button-wrapper {
            display: block;
            margin: 17px auto;
            width: 175px;
            span{
                width: 175px;
            }
        }
        .button_crop{
            margin-left: 0!important;
            margin-top: 17px;
        }

        .button_container input {
            display: none;
        }
        .button_finish{
            margin: 0 auto;
            width: 175px;
            display: block;
        }
    }
    .button_cut{
        margin: 17px auto!important;
        width: 175px!important;
        display: block!important;
        position: absolute;
        top: 0;
        left: calc(50% - 87.5px);
    }
    .container_cut_images{
        margin: 0 auto!important;
    }
</style>