<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-0">
                <div class="card">
                    <div class="card-header">{{title}}</div>
                    <div class="card-body">
                        <div class="image-preview-container" v-if="previewImage.length > 0">
                            <img class="" :src="previewImage">
                        </div>
                        <form ref='uploadImage' id="uploadImage" @submit.prevent="uploadFile" enctype="multipart/form-data">
                            <input type="file" class="form-control" v-on:change="onFileChange">
                            <div v-if="validImage===false" class="text-danger float-left col-12">Invalid image {{image_name}} </div>
                            <button v-if="model_name === 'user'" :disabled="!file || validImage === false" ref="btn_upload" class="btn button_buildings">Upload File</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'UploadFile',
        props:{
            title:'',
            type:'',
            model_name:'',
            id:''
        },
        data() {
            return {
                file: '',
                previewImage: '',
                validImage:'',
                image_name:''
            };
        },
        methods: {
            onFileChange(e){
                var input = event.target;
                this.image_name =  Date.now() + '_' + input.files[0].name;
                var valid_ex = this.getFileExtension(this.image_name);
                this.previewImage = URL.createObjectURL(input.files[0]);
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = (e) => {
                        this.file = e.target.result;
                    };
                    this.file = reader.readAsDataURL(input.files[0]);
                    var exts = ["jpeg", "png", "jpg"];
                    var arraycontainsext = (exts.indexOf(valid_ex) > -1);
                    if(arraycontainsext && input.files[0].size/1024 < 2000){
                        this.validImage = true
                    }else{
                        this.validImage = false
                    }
                    this.$emit('assignFileName',[input.files[0],this.image_name])
                }
            },
            async uploadFile(id) {
                if(this.validImage) {
                    this.$store.dispatch('uploadFile', {
                        file: this.file,
                        type: this.type,
                        model_name: this.model_name,
                        image_name: this.image_name,
                        id: (this.id) ? this.id : id,
                    })
                        .then(response => {
                            this.previewImage = ''
                            this.image_name = ''
                            this.$refs.uploadImage.reset()
                            this.$store.dispatch('getUser')
                        }).catch(error => {
                    });
                }
            },
            getFileExtension(filename) {
                return (/[.]/.exec(filename)) ? /[^.]+$/.exec(filename)[0] : undefined;
            }
        }
    }
</script>
<style lang="scss">
    .image-preview-container{
        img{
            max-width: 100%;
            max-height: 250px;
            margin: 30px auto;
            display: block;
        }

    }
    #uploadImage{
        input{
            overflow: hidden;
        }
    }
</style>